.app {
  display: flex;
  flex-direction: column;
  margin: 1em
}

.content {
  display: flex;
  color: white;
  justify-content: space-around;
  margin-top: 2em;
}

.city {
  display: flex;
}

.column-left {
  flex-basis: 50%;
}

.column-right {
  flex-basis: 50%;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.form {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex-basis: 80%;
}

.button {
  flex-basis: 20%;
}